<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head th:replace="layout/layout :: head"> </head>
  <body>
    <div layout:fragment="page-content">
      <div
        class="card-header px-4 px-md-5 py-3 px-md-3 border-bottom-0 bg-gradient-secondary text-white-50"
      >
        <div class="row justify-content-between align-items-center">
          <div
            class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start"
          >
            <!-- Invoice branding-->
            <img
              class="invoice-brand-img rounded-circle mb-4"
              src="assets/img/demo/demo-logo.svg"
              alt=""
            />
            <div class="h2 text-white mb-0">Detalle de la venta</div>
            Fecha de venta <span class="h5" th:text="${sale.date}"></span>
          </div>
          <div class="col-12 col-lg-auto text-center text-lg-end">
            <!-- Invoice details-->
            <div class="h4">
              <span class="text-white">Cliente</span>
              <span class="text-gray" th:text="${sale.client.name}"></span>
              <span th:text="${sale.client.dni}"></span>
            </div>
            <span class="text-white">Vendedor</span>
            <span th:text="${sale.user.lastname}"></span>
            <br />
            <span class="text-white">Estado</span>
            <span th:text="${sale.status}"></span>
            <br />
            <span class="text-white">Total</span> S/
            <span class="h4" th:text="${sale.total}"></span> nuevos soles
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-light table-hover text-center"
            id="datatable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th scope="col">ID producto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Importe</th>
                <th scope="col">Imagen</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th scope="col">ID producto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Importe</th>
                <th scope="col">Imagen</th>
              </tr>
            </tfoot>
            <tbody>
              <tr
                th:each="detail : ${details}"
                th:if="${detail.sale.id==sale.id}"
              >
                <td th:text="${detail.product.id}"></td>
                <td th:text="${detail.product.description}"></td>
                <td th:text="${detail.quantity}"></td>
                <td th:text="${detail.salePrice}"></td>
                <td th:text="${detail.salePrice * detail.quantity}"></td>
                <td>
                  <img
                    th:src="${detail.product.image}"
                    class="img-fluid btn-circle"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="/sales" class="btn btn-secondary btn-icon-split">
          <span class="text text-center">Atrás</span>
        </a>
      </div>
    </div>

    <div th:insert="layout :: scripts"></div>
  </body>
</html>
